
/* DON'T TOUCH THIS CSS FILE !!! */

:root {
    font-size: 12px;

    /* Colors */
    --bg-black: #142323;
    --bg-black50: rgb(0, 0, 0, .5);
    --bg-gray: #979999;
    --bg-blue: #4b7ac4;
    --bg-sandbox: #dbdbdb;
    --bg-lightblue: #d7e3f3;
    --light-yellow: rgb(238, 247, 159);
    --white: #fff;
    --black: #000;
}

/* NORMALIZER */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a, a:active, a:focus, a:hover {
    text-decoration: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

