@media screen and (min-width: 1024px) {
    .site{
        grid-template-columns: 5% 1fr 5%;
        grid-template-rows: 8% 5% 82% 5%;
    }
    .site_title{
        font-size: 3rem;
    }
    .header{ grid-area: 1 / 2; }
    .main{ grid-area: 3 / 2; }
    .nav-burger{ display: none; }
    .navbar{ grid-area: 2 / 2;list-style: none;align-items: center; }
    .ul-navbar, .ul-navbar.active{
        top: 80px;
        position: none;
        z-index: 0;
        display: flex;
        justify-content: center;
        padding-top: 0;
        width: 100%;
        background: none;
    }
    .li-navbar{
        display: inline-block;
        list-style: none;
        width: auto;
        background: none;
        padding: 0;
    }
    .lnk-navbar {
        display: inline-block;
        position: relative;
        transition: border var(--transition-duration) var(--transition-function);
    }
    .lnk-navbar:hover{
        background-color: var(--white);
        color: var(--bg-black);
    }
    .lnk-navbar::after {
        content: "";
        display: block;
        height: .25rem;
        width: 0;
        position: absolute;
        left: 0;
        bottom: -.5rem;
        background-color: var(--primary-color);
        transition: width .3s ease;
    }
    .lnk-navbar.active::after, .lnk-navbar:hover::after  {
        width: 100%;
    }
    .modal_task_detail, .modal_error_detail{
        width: 50vw;
    }
    .refs{
        display: grid;
        background-color: var(--bg-black);
        color: var(--white);
        font-weight: bold;
        font-size: 1.5rem;
    }
    .refs div{
        height: 100%;
    }
    .refs div:not(:last-of-type){
        border-right: solid var(--white) 1px;
    }
    .refs div{ padding: 0; }
    .description input[type=text]{
        width: 100%;
    }
    .listTasks{
        gap: 0;
    }
    .cellList{
        display: flex;
        height: 50px;
    }
    .cellList div{ font-size: 1.5rem; }
    .cellList div:nth-child(1){ grid-column: 1; width: 35rem }
    .cellList div:nth-child(2){ grid-column: 2; width: 15rem; }
    .cellList div:nth-child(3){ grid-area: auto/3; width: 15rem; }
    .cellList div:nth-child(4){ grid-area: auto/4; width: 25rem; }
    .cellList div:nth-child(5){ grid-area: auto/5; width: 15rem; }
    .cellList div:nth-child(6){ grid-area: auto/6; width: 15rem; }

    .cellList div:not(:last-of-type){ border-right: solid var(--bg-black) 1px; }

    .footer{ grid-area: 4 / 2; }

    .theme{ white-space: pre-line; }
    .infosSelectMultiple{
        width: 12vw;
        height: auto;
    }
    .formCreate{ grid-template-columns: 1fr 15% 30% 1fr; }

    /* footer, main, .navbar, .header{display:none;} */
    .xdebug-var-dump{ top: 0;position: absolute;z-index: 1000;background: white;padding: 1rem;border: solid blue .5rem; }
}