body{
    background-color: var(--bg-lightblue);
    width: 100vw;
    height: 100vh;
}

.message.noactive{
    display: none;
    height: 0%;
    border-bottom: none;
    animation: .5s linear slideUp;
}
.message.active{
    display: flex;
    flex-direction: column;
    height: 20vh;
    border-bottom: solid red 2px;
    animation: .5s linear slideDown;
}
.message{
    top: 0vh;
    display: none;
    align-items: center;
    position: absolute;
    z-index: 500;
    width: 100%;
    height: 0;
    padding: 2vh 0;
    background-color: var(--light-yellow);
    overflow-y: auto;
    font-size: 2rem;
}
.pInfo{
    color: white;
    padding: 2rem;
    width: 90vw;
    color: white;
    font-weight: bold;
    background-color: rgb(236, 131, 124);
}
.infoReferer{
    background-color: var(--light-yellow);
    color: blue;
    font-size: 1.5rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes slideDown {
    0%{ height : 0vh; }
    50%{ height : 5vh; }
    100%{ height : 20vh; }
}

@keyframes slideUp {
    0%{ height : 20vw; }
    50%{ height : 5vh; }
    100%{ height : 0vh; }
}

.infosSelectMultiple{
    padding: 0 2rem 0 2rem;
    border: solid 1px;
    background-color: var(--white);
    width: 35vw;
    height: auto;
    max-height: 25vh;
    overflow: auto;
}

.site{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 8% 5.5% 81.5% 5%;
}

.header{
    grid-area: 1 / 1;
    background-color: var(--bg-black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}
.logo{
    width: 5rem;
}
.site_title{
    font-size: 2rem;
}
.navbar{
    grid-area: 2 / 1;
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: var(--bg-black);
    color: var(--white);
    height: 100%;
    border-top: solid var(--bg-gray) 1px;
    font-size: 1.5rem;
}
.ul-navbar{
    display: none;
}
.ul-navbar.active{
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.8);
    position: absolute;
    z-index: 1000;
    display: grid;
    align-self: center;
    justify-content: center;
    grid-template-rows: repeat(5, 30px);
    padding-top: 55%;
}
.li-navbar{
    display: inline-block;
    width: 70vw;
    text-align: left;
    color: var(--white);
    background-color: var(--bg-black);
    padding: 0 15%;
}
.lnk-navbar{
    text-decoration: none;
    color: var(--white);
    padding: 1.1rem 1rem;
}
.main{
    grid-area: 3 / 1;
    background-color: var();
    height: 100%;
    background-color: #fff;
    overflow-y:auto;
    padding: 1rem 1rem 5rem 1rem;
}
.footer{
    grid-area: 4 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-black);
    padding: 1.5rem 0;
    font-size: 1.5rem;
    height: 100%;
}
.header, .footer{ color: var(--white);}
#mobile-icon{ margin-right: 1rem; }
.nav-burger{
    font-size: 2.5rem;
    color: var(--white);
    background-color: var(--bg-black);
    border: none;
    cursor: pointer;
    height: 40px;
}

.fa.fa-bars{ font-size: 2.5rem;}
.fa.fa-question-circle{ background: none;color: red;font-size: 2rem; }
.fa.fa-floppy-o{ font-size: 2rem;color: var(--bg-black); background-color: var(--white); }

.formCreate{
    white-space: pre-line;
}
.formCreate *{
    margin: .5rem 0;
}
.sort_list{

    width: 100%;
    padding: 2rem 1rem;
}
.sort_list select{ margin-right: 1rem; }
.sortCells{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--bg-black);
    color: var(--white);
    font-size: 1.5rem;
}
.listTasks{
    display: grid;
    gap: 1.5rem;
}
.title{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    font-size: 2.5rem;
    margin-top: 2rem;
    background-color: var(--bg-black);
    color: var(--white);
}
.cellList{
    display: grid;
    border: solid black 1px;
    width: 100%;
    height: 250px;
}
.cellList div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 2.5rem;
}
.cellList .date{ font-weight: bold; }

.cellList div:nth-child(1), .cellList div:nth-child(2)
, .cellList div:nth-child(3), .cellList div:nth-child(4)
, .cellList div:nth-child(5), .cellList div:nth-child(6){ grid-area: auto/6; width: 90vw; }

.refs{
    display: none;
}
.description{
    padding: 0 1.5rem;
    align-items: center;
}
.description input[type=text]{
    width: 80%;
    height: 50%;
}
.btn-description{
    height: 70%;
    background-color: transparent;
    border: none;
    color: var(--white);
    padding: 0 .5rem;
    font-size: 1.2rem;
    font-weight: bold;
}
.theme{ overflow-y: auto; }
.btn-description:hover{
    background-color: var(--white);
    color: var(--bg-black);
}

.priority, .date, .div-checkbox{
    align-items: center;
    justify-content: center;
}
.priority span, .div-checkbox span{ padding-right: 1rem; }

.divFormCreate, .pageConnexion, .divErrorConnect{
    background-color: #e6f2b6;
}
.divErrorConnect{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    font-size: 2rem;
}

.formCreate{
    margin-top: 2rem;
    padding: 2rem;
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr 30% 30% 1fr;
    grid-template-rows: 6% 55% repeat(3, 7%) 15%;
}
.formCreate #labelTask{
    grid-area: 1/2;
}
.formCreate #nameTask{
    grid-area: 1/3;
    height: 2rem;
}
.formCreate #labelTheme{
    grid-area: 2/2;
}
.formCreate #selectTheme{
    grid-area: 2/3;
    height: 20rem;
}
.formCreate #labelPriority{
    grid-area: 3/2;
}
.formCreate #selectPriority{
    grid-area: 3/3;
    height: 2rem;
}
.formCreate #labelColor{
    grid-area: 4/2;
}
.formCreate #choiceColor{
    grid-area: 4/3;
    height: 2rem;
}
.formCreate #labelDate{
    grid-area: 5/2;
}
.formCreate #inputDate{
    grid-area: 5/3;
    height: 2.5rem;
}
.formCreate #createSubmit{
    grid-area: 6/3;
    width: 12rem;
    height: 2rem;
    display: flex;
    align-self: end;
    justify-self: right;
    background-color: var(--bg-black);
    color: var(--white);
}
#iQuestion{ border-radius: 2rem;width: 1.5rem;height: 1.5rem; }
.pageConnexion, .divErrorConnect{
    height: 20vh;
}
#formConnexion {
    margin-top: 2rem;
    padding: 2rem;
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 1fr 25rem 25rem 1fr;
    gap: 3rem;
}
#formConnexion #email{
    grid-area: 2/2;
    width: 25rem;
    text-align: center;
}
#formConnexion #password{
    grid-area: 2/3;
    width: 25rem;
    text-align: center;
}
#formConnexion #btnConnexion, #formConnexion #btnInscription{
    grid-area: 3/3;
    width: 10rem;
    height: 2rem;
    align-self: flex-end;
    justify-self: end;
}
#formConnexion #btnInscription{
    justify-self: flex-start;
}
/***********/
/** MODAL **/
/***********/

.modal_task, .modal_error{
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.7);
    color:white;
}
.modal_task_detail, .modal_error_detail{
    white-space: pre-line;
    width: 90vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: var(--bg-black);
    border: solid var(--bg-black) 5px;
    background-color: rgb(255, 255, 255);
    padding: .5rem;
    font-size: 1.5rem;
}
.modal_task_detail span:nth-child(even){
    width: 100%;
    padding: .3rem .7rem;
    color: white;
    background: var(--bg-black);
}
.modal_task_detail span:nth-child(odd){
    width: 100%;
    padding: .3rem .7rem;
    background-color: var(--bg-black50);
    font-weight: bold;
}
.modal_task_detail span:not(:last-of-type):nth-child(even){
    border-bottom: solid var(--white) 1px;
}
.modal_task_detail span:not(:last-of-type):nth-child(odd){
    border-bottom: solid var(--bg-black) 1px;
}
a{ text-decoration: none;color: white; }
a:hover{ text-decoration: none;color: red; }
.modal_error_detail input[type=button]{ color: white;background-color: var(--bg-black);padding: .5rem;font-weight: bold; }
.modal_error_detail input[type=button]:hover{ color: rgb(48, 102, 190);background-color: var(--bg-black50); }

.close_modal{ position: fixed;z-index: 1010;top: 20px;right: 50px;color: white;font-size: 1.5rem;padding: .2rem .7rem;border: solid white 2px;border-radius: 1.5rem; }
.close_modal:hover{ color: red;border: solid red 2px;cursor: pointer; }
.error_404{ font-weight: bold;font-size: 10rem; }
.error_404 img{ width: 100%; }
.message_error_404{ display:flex;align-items: center;justify-content: center;font-size: 175%;font-weight: bold; }

.xdebug-error.xe-warning{ position: absolute; z-index: 10000; background: yellow;border: solid red 2px;padding: 1rem;margin: 150px 0 0 0;font-size: 1.5rem; }
.xdebug-error.xe-uncaught-exception{ position: absolute; z-index: 10020; background: yellow;border: solid red 2px;padding: 1rem;margin: 50px 0 0 0;font-size: 1.5rem; }
